version: '3.8'

services:
  # 1. BASE DE DATOS (MySQL)
  db:
    image: mysql:8.0
    container_name: mysql_sistema_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: secure_root_password_999
      MYSQL_DATABASE: sistema_db
      MYSQL_USER: user_app
      MYSQL_PASSWORD: app_user_password_999
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

  # 2. BACKEND (Flask/Python)
  backend:
    build:
      context: ./backend
    container_name: flask_sistema_backend
    ports:
      - "5000:5000"
    environment:
      DATABASE_HOST: db
      DATABASE_USER: user_app
      DATABASE_PASSWORD: app_user_password_999
      DATABASE_NAME: sistema_db
    depends_on:
      - db
    volumes:
      - ./backend:/app

  # 3. FRONTEND (React) -- Configurado para Hot Reload
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile  # Usamos el Dockerfile para desarrollo
    container_name: react_sistema_frontend
    ports:
      - "3000:3000"  # Puerto para Hot Reload (desarrollo)
    environment:
      - HOST=0.0.0.0
      - CHOKIDAR_USEPOLLING=true  # Para mejorar la detección de cambios
    stdin_open: true
    depends_on:
      - backend
    volumes:
      - ./frontend:/app
      - /app/node_modules

# Definición del Volumen de Datos para MySQL
volumes:
  db_data: {}
