#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

p {
  font-size: 1.25em;
  line-height: 0.5em;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

